<!DOCTYPE>
<html lang="en">
<head>
    <title>Noice2</title>
    <style>
        .border-right {
            border-right: 1px solid black;
        }

        .border-right-light {
            border-right: 0.5px solid black;
        }

        table,
        th,
        td {
            border-collapse: collapse;
            padding: 2px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Noice2</h1>
        <div style="border: 1px; border-color: black;  border-style: solid; padding: 1em;">
            <h3>Filter settings</h3>
            <form action="" method="get">
                <div>
                    <label for="region">Region</label>
                    <input type="text" name="region">
                </div>
                <input type="button" value="filter">
            </form>
        </div>
        <table style="margin-top: 1em;">
            <caption>Market information</caption>
            <thead>
                <tr>
                    <th colspan="2" scope="colgroup" class="border-right"></th>
                    <th colspan="2" scope="colgroup" class="border-right">Profit info</th>

                    <th colspan="2" scope="colgroup" class="border-right">Price info</th>
                    <th colspan="4" scope="colgroup" class="border-right">Avg 7d trade</th>
                    
                    <th colspan="4" scope="colgroup" class="border-right">Competition</th>

                    <th colspan="2" scope="colgroup" class="border-right">Entropy</th>
                </tr>
                <tr>
                    <th>Commodity</th>
                    <th scope="col" class="border-right"></th>
                    <th scope="col" class="border-right-light">Spread</th>
                    <th scope="col" class="border-right">Margin</th>
                    <th scope="col" class="border-right-light">Buy</th>
                    <th scope="col" class="border-right">Sell </th>
                    <th scope="col" class="border-right-light">Trades</th>
                    <th scope="col" class="border-right">Isk</th>
                    <th scope="col" class="border-right-light">Buy</th>
                    <th scope="col" class="border-right">Sell</th>
                    <th scope="col" class="border-right-light">3h buy</th>
                    <th scope="col" class="border-right-light">24h buy</th>
                    <th scope="col" class="border-right-light">3h sell</th>
                    <th scope="col" class="border-right">24h sell</th>
                    <th scope="col" class="border-right-light">7d</th>
                    <th scope="col" class="border-right">30d</th>

                    <th scope="col">Sold</th>
                    <th scope="col">Bought</th>
                    <th scope="col">Ratio</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>